
@{
    ViewData["Title"] = "Index";
}

<div id="app">
    <transition-group name="slide-fade" tag="p">
        <span class="sportStyle" key="sport" v-if="!changeSport">{{ curSport }}</span>|<span key="story" v-if="!changeStory">{{ curStory }}</span>
    </transition-group>
    <button type="button" style="display:none" id="bani" v-on:click="updateBools">test</button>
</div>

<script src="~/js/ticker.js"></script>

