<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">*@
</head>
<body>
    @RenderBody()

<script src="~/js/layout.js"></script>
</body>
</html>